body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.nav {
  background-color: #0D0D0D;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  text-transform: uppercase;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__menu {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}
.nav__menu a:not(:last-of-type) {
  margin-right: 48px;
}
.nav__button {
  padding: 20px 48px;
  background: #FFD2A4;
  border-radius: 10px;
  color: #1C1D28;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
}
.nav__logo {
  position: relative;
}
.nav__logo::after {
  content: "";
  background: #FFFFFF;
  height: 2px;
  width: 120px;
  position: absolute;
  bottom: 50%;
  left: 250px;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(90deg);
  opacity: 0.1;
}

.about-us {
  padding: 80px;
  display: flex;
  flex-direction: column;
  width: calc(33.3333333333% - 16px);
  background: #FFF5EB;
  position: relative;
}
.about-us::after {
  content: "";
  background: #FFD2A4;
  height: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about-us:not(:last-of-type) {
  margin-right: 25px;
}
.about-us__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  background-color: #FFD2A4;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}
.about-us__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #161722;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.about-us__intro {
  font-size: 16px;
  line-height: 24px;
}

.sermon {
  display: flex;
  flex-direction: column;
  width: calc(25% - 24px);
  position: relative;
  overflow: hidden;
}
.sermon:hover .sermon__text {
  transform: translateY(0);
}
.sermon:not(:last-of-type) {
  margin-right: 24px;
}
.sermon__text {
  position: absolute;
  padding: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transform: translateY(125px);
  transition: transform 300ms ease-in-out;
}
.sermon__text::after {
  content: "";
  background: linear-gradient(184.38deg, #060606 16.68%, rgba(0, 0, 0, 0.02) 96.44%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.sermon__title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
}
.sermon__desc {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.watch {
  padding: 60px 90px;
  background: #FFF5EB;
  width: 40%;
  position: relative;
}
.watch__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 16px;
}
.watch__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #161722;
  margin-bottom: 16px;
}
.watch__desc {
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
  margin-bottom: 32px;
}
.watch__place {
  display: flex;
}
.watch__place:not(:last-of-type) {
  margin-bottom: 16px;
}
.watch__icon {
  margin-right: 16px;
}
.watch__button {
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161722;
  border-radius: 10px;
  color: #FFD2A4;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;
  margin-top: 32px;
}
.watch__img {
  width: 60%;
}
.watch__date {
  position: absolute;
  left: 400px;
  right: 0;
  bottom: 400px;
}
.watch__numeric {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #161722;
}
.watch__month {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #161722;
}

.header {
  position: relative;
  padding: 175px 0;
  background-image: url("../img/header/header-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.header__desc {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 40px;
}
.header__desc::after {
  content: "";
  background: #FFD2A4;
  height: 3px;
  width: 20px;
  position: absolute;
  bottom: 50%;
  left: 10px;
  z-index: 2;
}
.header__title {
  margin-bottom: 160px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-transform: uppercase;
}
.header__subtitle {
  margin-bottom: 16px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.header__button {
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFD2A4;
  border-radius: 10px;
  color: #1C1D28;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.relevant {
  padding: 128px 0;
}
.relevant__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.relevant__text {
  text-align: center;
}
.relevant__subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
}
.relevant__title {
  font-weight: 700;
  margin-bottom: 64px;
  font-size: 48px;
  line-height: 64px;
}
.relevant__wrapper {
  display: flex;
}

.love {
  padding: 128px 0 233px;
}
.love__text {
  text-align: center;
  margin-bottom: 40px;
}
.love__subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}
.love__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.love__desc {
  font-size: 16px;
  line-height: 24px;
}
.love__images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.love__img {
  border-radius: 20px;
}
.love__img:not(:last-of-type) {
  margin-right: 25px;
}

.benefits {
  padding: 128px 0;
  background-color: #F5F2F0;
}
.benefits__wrapper {
  display: flex;
}
.benefits__subtitle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.benefits__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 64px;
  text-transform: uppercase;
}

.join {
  padding: 97px 0 67px;
}
.join__subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}
.join__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 64px;
}
.join__wrapper {
  display: flex;
}
.join__link {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

.desire {
  padding: 34px 0 128px;
  position: relative;
  background-image: url("../img/desire/desire-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.desire::after {
  content: "";
  background: linear-gradient(109.61deg, #CD5423 -53.83%, #FFD0A0 62.61%);
  mix-blend-mode: soft-light;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.desire__button {
  padding: 24px 64px;
  background: #FFD2A4;
  border-radius: 10px;
  color: #1C1D28;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  text-transform: uppercase;
  align-self: start;
  margin: 0 0 30px 25%;
}
.desire__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
  color: #161722;
  margin-bottom: 16px;
}
.desire__desc {
  font-size: 16px;
  line-height: 24px;
  color: #161722;
  opacity: 0.78;
}
.desire__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 72px 48px 152px;
  width: 65%;
}
.desire__wrapper::after {
  content: "";
  background: #FFD2A4;
  height: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.desire .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desire__text {
  width: 65%;
}/*# sourceMappingURL=main.css.map */