.desire {
  padding: 34px 0 128px;
  position: relative;
  background-image: url("../img/desire/desire-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    background:linear-gradient(109.61deg, #CD5423 -53.83%, #FFD0A0 62.61%);
    mix-blend-mode: soft-light;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
 

  &__button {
    padding: 24px 64px;
    background-color: $c-primary;
    border-radius: 10px;
    color: #1C1D28;
    width: max-content;
    font-size: 16px;
    text-transform: uppercase;
    align-self: start;
    z-index: 1;
    margin-bottom: 30px;
    margin-left: 60px;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: #F2C79B;
    }

    @media (max-width:$sm) {
     font-size: 14px;
     padding: 20px 50px; 
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 16px;

    @media (max-width:$md) {
      font-size: 45px;
    }

    @media (max-width:$sm) {
      font-size: 25px;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;

    @media (max-width:$sm) {
     font-size: 14px; 
    }
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 72px 48px 152px;
    

    &::after {
      content: "";
      background: #FFD2A4;
      height: 16px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
 
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  &__text {
    width: 65%;

    @media(max-width: $xs) {
      width: 100%;
    }
  }

  &__wrapper {
    width: 65%;
  }

  img {

    @media(max-width: $xs) {
      display: none;
    }
  }
  
}