.innovations {
  padding: 67px 0;

  @media(max-width: $xs) {
    padding: 25px 0;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 64px;

    @media(max-width: $xs) {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: flex;

    @media(max-width: $md) {
      flex-wrap: wrap;
    }
  }
}