.join {
  padding: 97px 0 67px;

  @media(max-width: $xs) {
    padding: 25px 0 30px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;

    @media(max-width: $xs) {
      font-size: 25px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__link {
    display: flex;
    justify-content:flex-end;
    margin-top: 48px;
    
    img {
      margin-left: 11px;
    }

    @media(max-width: $xs) {
      margin-top: 20px;
    }
  }
}