.relevant {
  padding: 128px 0 0 ;


  @media(max-width: $xs) {
    padding: 50px 0 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__text {
    text-align: center;
    margin-bottom: 64px;
  }

  &__subtitle {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;

    @media(max-width: $xs) {
      font-size: 12px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;


    @media(max-width: $xs) {
      font-size: 25px;
    }
  }

  &__wrapper {
    display: flex;
    
    @media (max-width: $sm) {
      flex-wrap: wrap;
    }
  }

}