.page-header {
  margin-top: 119px; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 419px;

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 16px;

    @media(max-width:$sm) {
      font-size: 14px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: uppercase;
    color: #161722;

    @media(max-width:$sm) {
      font-size: 40px;
    }

    @media(max-width: $xs) {
      font-size: 30px;
    }
  }
}