.sermon-header {
  margin-top: 119px;
  padding: 160px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  @media (max-width: $sm) {
    margin-top: 93px;
  }
  
  @media (max-width: $xs) {
    margin-top: 75px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #232536;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-transform: uppercase;
    color: #232536;

    @media (max-width: $xs) {
      font-size: 30px;
    }
  }
}