.view {
  padding: 128px 0;

  @media(max-width:$md) {
    padding: 64px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    text-align: center;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 64px;

    @media (max-width: $xs) {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}