.hamburger {
  position: relative;
  margin-left: 10px;
  width: 40px;
  height: 24px;
  display: none;

  &.is-active {
    span {
      &:nth-child(odd) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: $sm) {
    display: block;
  }

  span {
    display: block;
    position: absolute;
    background: $c-white;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transition: transform ease 300ms, top ease 300ms;
    top: 0;
    transform: translateY(0); 

    &:nth-child(3) {
      top: 100%;
      transform: translateY(-100%);
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

  }
}