.listen {
  display: flex;
  flex-direction: column;
  width:calc(100% / 4 - 72px / 4);
  background: #FFF5EB;
  position: relative;
  padding: 48px 32px;

  

  

  
  &::after {
    content: "";
    background:#FFD2A4;
    height: 16px;
    width: 0;
    position: absolute;
    bottom:0;
    left: 0;
    transition: width 300ms ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  
  &:not(:last-of-type) {
    margin-right: 24px;
  }

  @media (max-width:$md) {

    width: calc(100% / 2 - 24px / 2);
    &:nth-child(-n + 2) {
      margin-bottom: 24px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media(max-width: $xs) {
    width: 100%;

    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }



  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background: linear-gradient(109.61deg, #A54E2B -53.83%, #DC9853 62.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 116%;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 16px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
    margin-bottom: 48px;

  }

  &__curator {
    font-size: 18px;
    line-height: 21px;
    color: #161722;
    margin-bottom: 4px;

  }

  &__date {
    font-size: 16px;
    line-height: 24px;
    color: #161722;
  }
}