.sermon {
  display: flex;
  flex-direction: column;
  width:calc(100% / 4 - 72px / 4);
  position: relative;
  overflow: hidden;
  $this: &;

  
  &:hover {
    @media (min-width: $md) {

      #{$this}__text {
        transform:translateY(0);
      }
    }
  }

  &:not(:last-of-type) {
    margin-right: 24px;
  }

  @media (max-width: $md) {
    flex-wrap: wrap;
    width: calc(100% / 2 - 24px / 2);

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 24px; 
    }
  }


  @media (max-width :$xs) {
    width: 100%;

    &:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__text {
    position: absolute;
    padding: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(125px);
    transition: transform 300ms ease-in-out;
    
    

    &::after {
      content: "";
      background: linear-gradient(184.38deg, #060606 16.68%, rgba(0, 0, 0, 0.02) 96.44%);
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }

    @media (max-width:$md) {
      padding: 27px;
      transform: none;
    }

    @media (max-width: $sm) {
      padding: 10px;
    }


  }

  &__title {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 116%;
    margin-bottom: 32px;

    @media (max-width: $sm) {
      font-size: 17px;
    }

  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    @media (max-width: $lg) {
      font-size: 13px;
    }
  }

  &__img {

    @media (max-width: $md) {
      object-fit: cover;
    }

    @media (max-width: $xs) {
      max-height: 290px;
    }
  }
}