.hero {
  background: #F5F2F0;
  padding: 48px 75px;
  width:calc(100% / 4 - 72px / 3);

  &:not(:last-of-type) {
    margin-right: 24px;
  }  


  &__img {
    border-radius: 50%;
    margin-bottom: 26px;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #161722;
    text-align: center;
    margin-bottom: 8px;
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 16px;
  }

  &__icons {
    display: flex;
    justify-content: center;

    img {
      &:not(:last-of-type) {
        margin-right: 20px;
      }  
    }
  }


}