.mission {
  margin-top: 64px;
  width: 30%;
  
  &:not(:last-of-type) {
    margin-right: 25px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #161722;
    margin-bottom: 16px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #161722;
    opacity: 0.78;
  }
}